@import "./variables";

header {
  max-width: 1280px;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    width: 80px;
  }

  .links-wrapper {
    display: flex;
    column-gap: 51px;
    align-items: center;
    .nav-list {
      display: flex;
      column-gap: 65px;

      .list-item {
        a {
          color: $secondaryColor;
          font-size: $fontSizeLg;
        }
      }
    }

    .social-media-icons {
      display: flex;
      column-gap: 20px;
    }
  }

  .menu-icon {
    display: none;
  }
}

@media (max-width: 768px) {
  header {
    padding: 8px 18px;

    .logo {
      width: 65px;
    }

    .links-wrapper {
      display: none;
    }

    .menu-icon {
      display: block;
      cursor: pointer;
    }
  }
}
