.projects {
  max-width: 1280px;
  width: 100%;
  margin: auto;
  min-height: 350px;
  margin-top: 220px;
  text-align: center;

  .projects-list {
    display: flex;
    justify-content: center;
    column-gap: 50px;
    .project {
      width: 375px;
      min-height: 567px;
      border-radius: 20px;
      background-color: #fff;
      .img-wrapper {
        width: 100%;
        height: 260px;
        border: 2px solid blue;
        border-radius: 20px 20px 0px 0px;
      }

      .project-1-img {
        background-image: url("../images/Lecture-11.png");
        background-size: cover;
        background-position: center;
      }
    }
  }
}
