@import "./variables";
.stack {
  max-width: 1280px;
  width: 100%;
  margin: auto;
  min-height: 350px;
  margin-top: 200px;
  text-align: center;

  .stack-list {
    margin-top: 110px;
    display: flex;
    justify-content: space-between;

    li {
      img {
        width: 110px;
        height: 110px;
      }

      h3 {
        font-size: 18px;
        margin-top: 24px;
        color: $primaryColor;
      }
    }
  }
}

@media (max-width: 768px) {
  .stack {
    margin-top: 100px;
    .stack-list {
      flex-direction: column;
      row-gap: 35px;
    }
  }
}
